body{
    background-image: url("estaticos/imagenes/logoDBP.jpg");
    /*background: #06a0ae !important;*/
    font-family: 'Muli', sans-serif;
    
  }
  h1{
    color: #fff;
    padding-bottom: 2rem;
    font-weight: bold;
  }
  a{
    color: #333;
  }
  p:hover{
    color: #0f16d3;
    text-decoration: none;
  }
  a:hover{
    color: #0f16d3;
    /*text-decoration: none;*/
  }
  .form-control:focus {
  
      color: #000;
      background-color: #fff;
      border:2px solid #E8D426;
      outline: 0;
      box-shadow: none;
  
  }
  
  .btn{
    background: #2f29a2;
    border: none;
    border-radius: 3px;
    border: #2f29a2;
    display: inline-block;
    font-size: 24px;
  }

  .btn:hover {
    background: #421399;
    border: #421399;
  }