* {
  margin: 0;
  box-sizing: border-box;
  /* lo de abajo sirve para ver el diagrama */
  /*border: 1px solid red;*/ 
}

body {
  font-family: sans-serif;
  padding: 90px 20px 0;
}

.header {
  background-color: #dbe3ed;
  height: 98px;
  position:fixed; 
  /* sirve para q el header se quede ahi arriba y no se pierda
  al momento de bajar*/ 
  width: 100%;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  justify-content: space-between;

  max-width: 992px;
  /*margin: 0 10px;*/
}

/* sirve para no mostrar lo subyrado en link y ponerlo de color blanco*/
.nav-link {
  color: rgb(19, 17, 17);
  text-decoration: none;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  padding-left: 5px;
  padding-right:05px;
  line-height: 80px;
}

.containerBuscador{
  /*display: flex;*/
  padding-left: 20px;
  justify-content: space-between;
  padding-top: 10px;
  line-height: 80px;
  width: max-content;
  position: static;
}
.container
{
  /*background-color: #4a0c89;*/
  position:static; z-index:1;
}
.row
{
  /*background-color: brown;*/
  position: static; z-index:1;
  margin-right: 150px;
}
.card
{
  /*background-color:rgb(111, 189, 107);*/
  position: static; z-index:1;
}
.card-body
{
  /*background-color:darkkhaki;*/
  position: static; z-index:1;
  width: 390px;
}
.col-md-5
{
  /*background-color: limegreen;*/
  position: static;
  right: -80px;
}
.containerCheckBox
{
  height: auto;
  margin-top: 0px;
  padding-top: 2px;
}
.custom-control-input
{
  position: static;
}
.checkBoxCustomizado
{
  margin-top: 15px;
  width: 1.3em;
  height: 1.3em;
}
.checkbox-round:checked {
  background-color: rgb(18, 18, 202);
}
.msgRecordarme
{
  padding-bottom: 15px;
  line-height: 20px;
  margin-top: -29px;
  margin-left: 30px;
  margin-right: 180px;
  height: 20px; 
}
.form-group-mt-4-mb-4
{
  position: static; z-index:1;
}
.pt-5
{
  /*position: static; z-index:1;*/
  margin-right: 35px;
  margin-left: 35px;
  margin-top: -90px;
  padding-top: 65px;
  padding-bottom: 25px;
}

.nav-menu {
  display: flex;
  /*margin-left: 46px;*/
  margin-right: -345px;
  list-style: none;
}

.nav-menu-item {
  font-size: 18px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-item-i {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}


.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: #312d35;
  transition: 0.5s;
  border-radius: 3px;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #333333;
	width: 20%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.nav-menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

/* TOGGLE */
.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;

  display: none;
}

.linea {
  border-top: 5px solid #4a0c89;
  height: 10px;
  padding: 0;
  margin: 20px auto 0 auto;
  width: 87%  ;
}

.containerMSGBienvenida
{
  border: 1px;
  border-color: red;
  /*border-color: #312d35;*/
  background-color: aliceblue;
  /*background-color: rgb(181, 190, 190);*/
  height: 760px;
  width: 795px;
  margin-top: 50px;
  padding-top: 20px;
  margin-left: 250px;
  padding-top: 50px;
  margin-bottom: 60px;
  padding-bottom: 60px;
}

.text-center
{
  color: black;
  margin-left: 300px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 120px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.littleMesage
{
  color: black;
  /*color: #fff;*/
  font-weight: bold;
  font-size: 24px;
  margin-left: 300px;
  padding-left: 5px;
  padding-bottom: 5px;
}
.containerIMG
{
  height: 180px;
  margin-left: 5px;
  margin-right: 430px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: -180px;
}
.platformNameMsg
{
  color: black;
  /*color: #fff;*/
  font-weight: bold;
  font-size: 38px;
  margin-left: 300px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

img.redimension {
  width:200px;
  height:40px;
}

.contanierFooter
{
  color:rgb(255, 255, 255);
  background-color: #1e0166;
  text-align: justify;
  font-weight: bold;
  font-size: 20px;
  margin-right: 0px;
  height: 415px;
  width: 1345px;
  margin-left: -18px;
}

.contanierTxtFooter1
{
  height: 250px;
  margin-left: 20px;
  margin-right: 920px;
  padding-top: 5px;
  padding-left: 5px;
}
.contanierTxtFooter2
{
  height: 250px;
  margin-top: -250px;
  margin-bottom: 35px;
  margin-left: 470px;
  margin-right: 500px;
  padding-top: 5px;
  padding-left: 5px;
}
.contanierTxtFooter3
{
  height: 250px;
  margin-top: -285px;
  margin-bottom: 35px;
  margin-left: 920px;
  margin-right: 20px;
  padding-top: 5px;
  padding-left: 5px;
}
.lineaFooter {
  margin-top: 10px;
  border-top: 10px solid white;
  height: 10px;
  width: 100%;
}
.containerIconsRedes
{
  height: 50px;
  margin-top: 50px;
  margin-bottom: 15px;
  margin-left: 1060px;
  margin-right: 20px;
  padding-top: 5px;
  padding-left: 5px;
}
.fa-square-facebook
{
  margin-top: 20px;
  margin-left: 20px;
}
.fa-twitter
{
  margin-top: 20px;
  margin-left: 20px;
}
.fa-google
{
  margin-top: 20px;
  margin-left: 20px;
}
.fa-instagram
{
  margin-top: 20px;
  margin-left: 20px;
}

/* MOBILE */
@media (max-width: 768px) 
{
  body {
    padding-top: 70px;
  }

  .header {
    height: 60px;
  }

  .logo {
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #2c3e50;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;

    height: calc(100% - 60px);
    overflow-y: auto;

    left: 100%;
    transition: left 0.3s;
  }

  .nav-menu-item {
    line-height: 70px;
  }

  .nav-menu-link:hover,
  .nav-menu-link_active {
    background: none;
    color: #83c5f7;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
}