i{
    font-size: 40px;
    cursor: pointer;
    position: relative;
    transform: translate(-50%, -50%);
}

/* 
.sidebar-ul-li-a.bi-bi-brightness-high-fill{
  font-size: 18px;
  vertical-align: middle;
  transition: background 0.2s ease;
}
*/